<p style="color: green"><%= notice %></p>

<% content_for :title, "Stores" %>

<h1>Stores</h1>

<div id="stores">
  <% @stores.each do |store| %>
    <%= render store %>
    <p>
      <% if policy(store).show? %>
        <%= link_to "Show", store_path(store), class: "adminbutton" %>
      <% end %>
    </p>
    <hr>
  <% end %>
</div>

<% if policy(@stores).create? %>
  <%= link_to "New store", new_store_path, class: "adminbutton" %>
<% end %>
