<p style="color: green"><%= notice %></p>

<% content_for :title, "Items" %>

<h1>Items</h1>

<div id="items">
  <% @items.each do |item| %>
    <%= render item %>
    <p>
      <% if policy(item).show? %>
        <%= link_to "Show", item_path(item), class: "adminbutton" %>
      <% end %>
    </p>
    <hr>
  <% end %>
</div>

<% if policy(@items).create? %>
  <%= link_to "New item", new_item_path, class: "adminbutton" %>
<% end %>