<div id="<%= dom_id instrument %>">


  <p>
    <strong>Instrument name:</strong>
    <%= instrument.instrument_name %>
  </p>

  <% unless params[:category_id].present? %>
    <p>
      <strong>Category:</strong>
      <%= instrument.category.category_name %>
    </p>
  <% end %>

</div>
