<div id="<%= dom_id instrument %>">
  <p>
    <strong>Instrument name:</strong>
    <%= instrument.instrument_name %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= instrument.manufacturer_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= instrument.category_id %>
  </p>

</div>
