<div id="<%= dom_id instrument %>">
  <p>
    <strong>Instrument name:</strong>
    <%= instrument.instrument_name %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= instrument.manufacturer.manufacturer_name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= instrument.category.category_name %>
  </p>

</div>
