<div id="<%= dom_id instrument %>">


  <p>
    <strong>Instrument name:</strong>
    <%= instrument.instrument_name %>
  </p>

  <% unless params[:category_id].present? %>
    <p>
      <strong>Category:</strong>
      <%= instrument.category.category_name %>
    </p>
  <% end %>

  <p>
    <% if instrument.image.attached? %>
    <%= image_tag instrument.image, style: "width: 200px; display: block" %>
    <% end %>
  </p>


</div>
