<div id="<%= dom_id manufacturer %>">
  <p>
    <strong>Manufacturer name:</strong>
    <%= manufacturer.manufacturer_name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= manufacturer.country_id %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= manufacturer.email %>
  </p>

</div>
